.content {
  padding: 32px 24px 26px;
}

.layoutHeader {
  max-width: 600px;
  margin-bottom: 20px;
  position: relative;

  .divContainer {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    .imageUser {
      border-radius: 50%;
      object-fit: cover;
      width: 110px;
      height: 110px;
    }

    .divName {
      margin-left: 20px;

      h2 {
        font-weight: 100;
      }
      h3 {
        font-size: 1.4rem;
        margin-bottom: 5px;
      }

      .editContainer button {
        border: 1px solid #e3e3e4;
        padding: 5px 15px;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
      }

      .editContainer span {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 100;
      }

      .editProfile {
        font-size: 1.5rem;
        padding-right: 5px;
      }
    }
  }

  .countInfo {
    display: flex;
    align-items: center;

    .status {
      font-size: 1.8rem;
      margin-right: 15px;
      line-height: 2rem;

      strong {
        padding-right: 6px;
        font-size: 2rem;
      }

      span {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }

  .story {
    font-size: 1.6rem;
    margin: 10px px 0px;
    font-weight: 700;
    white-space: pre-line;
  }

  .icon-tem {
    position: absolute;
    top: 15px;
    right: 80px;
    margin-right: 5px;
    display: flex;
    cursor: pointer;

    .iconShare {
      margin-right: 10px;
    }
  }
}

.contentMain {
  width: 100%;
  min-height: 490px;
  display: flex;
  flex-direction: column;

  .navbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    position: relative;

    .navItem {
      padding: 10px 35px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      transition: all 0.5s ease;

      span {
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
    .activeBar {
      background-color: #000000;
      position: absolute;
      bottom: 0;
      height: 3px;
      width: 100px;
    }
  }

  .mainDetails {
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: width 0.3s;
  }
}
