[type='range'] {
  margin: 0;
  padding: 0;
  width: 52px;
  height: 1.5em;
  outline: none;
}

[type='range'],
[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

[type='range']::-webkit-slider-thumb {
  box-sizing: border-box;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: #fff;
}

[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: #fff;
}

.container {
  position: relative;
  width: 700px;
  display: flex;
  padding-top: 20px;
}

.container::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background: rgba(22, 24, 35, 0.2);
}
.avatar img {
  width: 56px;
  height: 56px;
  border-radius: 50px;
  object-fit: cover;
}

.content {
  position: relative;
  width: 100%;
  margin-left: 18px;
  margin-bottom: 18px;
}

.authName {
  display: flex;
  margin-bottom: 8px;
}

.name {
  font-weight: 200;
}

.title {
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  padding-left: 5px;
  font-weight: 900;
  color: #808069;
}

.follow {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  min-height: 30px;
  color: var(--primary);
}

.titleContainer {
  width: 480px;
}

.spanTetxt {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #191919;
}

.styledCommonLink {
  font-size: 1.5rem;
  padding-right: 10px;
}

.titleMusic {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.iconMusic {
  padding-right: 5px;
  font-size: 1.4rem;
}

.titleMusic a {
  font-size: 1.7rem;
  color: var(--black);
}
.videoWrapper {
  display: flex;
}

.divContainer {
  position: relative;
  height: 450px;
  width: 245px;
  margin-right: 10px;
}

.videoContent {
  width: 100%;
  height: 100%;
}

.videoContent img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.videoContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.eleVideo {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.videoContainer .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 6px;
}

.pause,
.play {
  position: absolute;
  bottom: 28px;
  left: 20px;
  color: var(--while);
}

.control {
  display: block;
  position: absolute;
  z-index: 2;
  &.playing .play {
    display: block;
  }

  &.playing .pause {
    display: none;
  }
}

.control,
.volume {
  display: none;
}

.divContainer:hover .control,
.divContainer:hover .volume {
  display: block;
}
.bar {
  position: absolute;
  bottom: 6px;
  width: 100%;
  padding: 0 8px;
  display: flex;
  position: absolute;
  z-index: 2;
}
.line {
  width: 100%;
  display: flex;
  align-items: center;
}
.line input {
  width: 100%;
  height: 3px;
  -webkit-appearance: none;
}

.time {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  padding-left: 10px;
}

.volume {
  bottom: 15px;
  right: 10px;
  color: var(--while);
  position: absolute;
  bottom: 20px;
  z-index: 2;

  .columeControl {
    align-items: center;
    background-color: #16182357;
    border-radius: 32px;
    cursor: pointer;
    // display: none;
    height: 24px;
    padding: 0 8px;
    position: relative;
    -webkit-transform: rotate(90deg);
    display: flex;
    transform: rotate(90deg);
    width: 64px;
    margin-bottom: 26px;
    transform: rotate(271deg);
  }

  .volumeRange {
    height: 2px;
    left: 8px;
    position: absolute;
    right: 8px;
    background-color: transparent;
    transform: rotate(0deg);
  }

  .selector {
    background-color: #fff;
    border-radius: 4px;
    height: 2px;
  }
}

.barVolume {
  background-color: hsla(0, 0%, 100%, 0.34);
  border-radius: 100px;
  height: 2px;
  position: relative;
  width: 100%;
  transform: rotate(180deg);
}

// .colorLine {
//   width: 2px;
//   height: 48px;
//   background-color: rgb(255, 255, 255);
//   position: absolute;
//   left: 10px;
//   transform: scaleY(0);
// }

.volumeBtn {
  position: relative;
  left: 4px;
  padding: 7px;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  .playVolume {
    position: absolute;
    top: 7px;
    left: 16px;
  }
}

.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.interactive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  cursor: pointer;
}

.interactive .spanIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: rgba(22, 24, 35, 0.06);
  font-size: 2rem;
  margin-top: 8px;
  margin-bottom: 6px;
}

.interactive strong {
  font-size: 1.2rem;
  color: rgba(22, 24, 35, 0.75);
  line-height: 1.7rem;
  text-align: center;
}
